<div class="row">
    <div class="large-12 columns">
        <h1>Email Deduplicator</h1>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <div class="callout">
            
            <p>Do you have buckets of email addresses?  Are you feeling weighed down by DUPLICATES?  Well, you came to the right place!</p>
            <p>This email deduplicator let's will clean out all those nasty duplicates and leave you with a nice clean email list, in the same order as the one you provided.</p>
            <h3>How to use the deduplicator:</h3>
            <ol>
                <li>Either paste in some emails or use the random generator to populate the textarea</li>
                <li>Choose which of the dudping algorithms you'd like to use</li>
                <li>Press the big green button!</li>
            </ol>

            <form id="dedupe-form">
                <label>Emails to deduplicate (comma seperated)</label>
                <textarea id="dedupe-textarea" placeholder="henryr@chefsteps.com,arthurdent@gmail.com,marvin@hotmail.com"></textarea>
                <div class="clearfix">
                    <div class="float-left">
                        <label>How many shall I generate?
                            <input type=text id="count" name="count" value="1000" />
                        </label>
                        <a  href="#" id="generate-random" class="button">Generate list of random emails</a>
                    </div>
                    <div class="float-right">
                        <fieldset>
                            <legend>Deduping algorithm:</legend>
                            <input name="function" type="radio" value="map" checked="checked" /><label for="map">Map</label>
                            <input name="function" type="radio" value="array" /><label for="array">Array</label>
                        </fieldset>
                        <button type="submit" href="#" id="submit" class="success button">Deduplicate</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="results" class="large-12 columns hide">
        <div class="callout">
            <h3>Your Deduped Emails</h3>
            <textarea id="deduped-emails"></textarea>
            <dl>
                <dt>Emails removed by deduping:</dt>
                <dd><span id="removed"></span></dd>
                <dt>Time to dedupe (does not include transport time from client to server)</dt>
                <dd><span id="time-to-dedupe"></span>ms</dd>
            </dl>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h3>How it works</h3>
    </div>
    <div class="large-4 columns">
        <h4>The algorithm</h4>
        <p>This email deduplicating algorithm takes an array of comma seperated strings. It then creates a new store in which to keep the set of de-duplicated emails. Finally we iterate through the input array, for each item in the array we check to see if it's in the store of deduped emails. If the email is not yet in the store of deduped emails we add it.  The result is a store containing the unique set of emails, in the same order as the original array.</p>
        
        <p>Initially I used a second array as the store for deduped emails (See arrayDedupe() below). This approach worked, but became quite slow for large inputs. I realized that the slowness was a result of the array of deduped emails getting large and lookups in that array taking longer and longer.</p>
        
        <p>I then moved the store of deduped emails to a map (a javascript Object).  Lookups in that object are very fast and the overall algorithm sped up significantly. (See mapDedupe() below)</p>

        <h4>The User Interface</h4>
        <p>This webpage is running on a nodejs server. Deduplication happens on the server via AJAX.</p>
        <p>The server uses the express js framework with handlebars for templating. The code sample to the right is loaded from the same file that does the actual deduping</p>
        
        <h4>The Source Code</h4>
        <p>You can view the source for this project on <a href="https://github.com/henryrose/email-deduplicator">github</a></p>
    </div>
    <div class="large-8 columns">
        <pre class="callout">{{{dedupe_code}}}</pre>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <p>Thanks for taking the time to look at this!</p>
    </div>
</div>